@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

@keyframes shake {
    0% {
        transform: rotate(20deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}
a{
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    background-image: url('img/4709918.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body .container {
    background-color: rgba(224, 192, 192, 0.601);
    width: 480px;
    border-radius: 25px;
    overflow: hidden;
    backdrop-filter: blur(10px);
}

body .container .box {
    padding: 40px 28px;
}

.box .box_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E205B;
    margin-bottom: 20px;
}

.box .box_header .icon {
    font-size: 23px;
    font-weight: 800
}

.box .box_header .yourFile {
    font-size: 18px;
    font-weight: 900;
}

.box .box_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.box .box_info .avatar {
    position: relative;
    flex: 1;
    /* overflow: hidden; */
}

.box .box_info .avatar::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 25%;
    width: 45px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(83, 55, 55, 0.601);
    filter: blur(2.5px);
}

.box .box_info .avatar img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #a49999;
}

.box .box_info .avatar input[type="file"] {
    display: none;
}

.box .box_info .info {
    text-align: center;
    flex: 2;
}

.box .box_info .edit {
    font-size: 25px;
    color: rgb(45, 38, 38);
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.stt {
    display: inline-block;
    margin-bottom: 10px;
}

.box_content {
    /* display: flex; */
    margin-bottom: 20px;
    /* overflow: hidden; */
}

.box_content .idea {
    display: flex;
    overflow: hidden;
}

.box_content .myStt {
    display: flex;
    justify-content: space-around;
}

.box_content .myStt .details {
    padding: 6px 20px;
    background-color: #2C1C44;
    opacity: 0.6;
    border-radius: 20px;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.box_content .myStt .details:hover, 
.box_content .myStt .details.active {
    opacity: 1;
}

.idea .dashboard {
    transition: all 0.65s;
    min-width: 100%;
}

.idea .dashboard.first {
    /* margin-left: -100%; */
}

.dashboard .adventure {
    display: flex;
    flex-direction: column;
    gap: 12px 0;
}

.dashboard .adventure .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard .adventure .menu .circle {
    display: flex;
    align-items: center;
}

.dashboard .adventure .menu .circle .cursor {
    font-size: 25px;
    color: #8289D2;
    margin-right: 10px;
}

.dashboard .adventure .menu .circle .cursor .bi {
    text-align: center;
    display: inline-block;
    background-color: #1F0B2E;
    padding: 4px 9px;
    border-radius: 50%;
}

.dashboard .adventure .menu .circle span {
    font-size: 16px;
}
.dashboard .adventure .menu .notify {
    font-size: 14px;
    color: #fff;
    border-radius: 25px;
    background-color: #5F66C0;
    padding: 4px 20px;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.connect span { 
    position: relative;
    display: inline-flex;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: rgba(212, 203, 203, 0.686);
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
}

.connect span::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 28%;
    width: 20px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(83, 55, 55, 0.601);
    filter: blur(2.5px);
}

.connect span:hover .bi {
    animation: shake 0.4s ease;
}










/* Tuy chinh hieu ung roi*/
/*www.lutaweb.com*/
@-webkit-keyframes flowers-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes flowers-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes flowers-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

.flower {
    height: auto;
    width: 20px;
    /*chinh kich thuoc hoa*/
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: flowers-fall, flowers-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: flowers-fall, flowers-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
}

.flower:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.flower:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.flower:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.flower:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.flower:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.flower:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.flower:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.flower:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.flower:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.flower:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

.flower:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 2s, 0s
}

.flower:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 4s, 2.5s
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}


.audio {
    width: 80%;
    height: 24px;
    overflow: hidden;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

.audiobox{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:300px) and (max-width:400px) {
    .container{
        font-size: 13px;  
        width: 200px;
        padding: 5px;
        transform: scale(0.9,0.9);      
    }
}
